<div class="row">

  <div class="col-md-2" style="margin-top:20px;">
    <span class="input-group-addon">
      <select ng-model="limit">
        <option value="30">每页30</option>
        <option value="50">每页50</option>
        <option value="100">每页100</option>
      </select>
    </span>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-list"></span>
    </span>
  </div>

  <div class="col-md-10">
    <ul class="pagination">
      <li ng-click="previous()" 
          ng-class="{disabled:previous_disabled}"><a href="javascript:void(0);">&laquo;</a></li>

      <li ng-repeat="n in pages"
          ng-class="{active:is_current($index)}"
          ng-click="set_current($index)"><a href="javascript:void(0);">{{$index + 1}}</a></li>

      <li ng-click="next()" 
          ng-class="{disabled:next_disabled}"><a href="javascript:void(0);">&raquo;</a></li>
    </ul>
  </div>

</div>