<div class="panel-primary" style="margin-top: 10px;">

<div class="panel-heading">
  <div class="btn-group col-md-1">
    <button type="button" class="btn btn-danger" ng-click="delete_checked()">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>

  <div class="input-group col-md-6">
    <span class="input-group-addon">
    <select>
      <option value="">过滤条件</option>
      <option ng-repeat="meta in metas" value="{{name}}">{{meta.title}}</option>
    </select>
    </span>
    <input type="text" class="form-control">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-filter"></span>
    </span>
  </div>

</div>

<table class="table table-hover table-bordered text-center table-responsive" style="margin-bottom:0px;">
  <thead>
    <tr>
      <th class="text-center">
        <input type="checkbox" ng-click="check_all()" ng-model="check" alt="全选">
      </th>
      <th class="text-center">
      	产品名
      </th>
      <th class="text-center">
      	主图
      </th>
      <th class="text-center">
      	操作	
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="record in records track by record._id.$oid"
        ng-dblclick="edit(record)"
        ng-class="{true:'warning'}[record.check]">
      <td><input type="checkbox" ng-model="record.check"></td>
      <td>{{record['name']}}</td>
      <td><img ng-src="{{record['photos'][0]}}" width="100px" height="100px"></td>
      <td>
      	<div class="btn-group">
			    <button type="button" class="btn btn-success" ng-click="upload(record)">
			      <span class="glyphicon glyphicon-cloud-upload"></span>
			    </button>
		  	</div>
      </td>
    </tr>
  </tbody>
</table>

<portia-pagination row="row" limit="limit" current="current"></portia-pagination>

<portia-product record="temp" metas="metas"></portia-product>

</div>